{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "Vue": true,
        "global": true,
        "PlayList": true,
        "Property": true,
        "Cover": true,
        "Controller": true,
        "User": true,
        "Lyric": true,
        "Uint8Array": true,
        "PromptWindow": true,
        "ProgressBar": true,
        "StatusBar": true
    }
}